<div class="form-wrapper">
  <span class="login-header">Login</span>
  <form class="login-form">

    <label>Mail</label>
    <app-generic-input [fc]="emailFormControl"
                       [options]="{type:'email' , placeholder:'email'}" >
    </app-generic-input>

    <span class="flex-inline">
      <label>Password</label>
      <a class="forgot-password">Forgot-password?</a>
    </span>
    <app-generic-input [fc]="passwordFormControl"
                       [options]="{type:'password' , placeholder:'password'}" >
    </app-generic-input>

    <button class="btn btn-primary" [class.shake-btn]="(authError$ | async)" type='button' (click)="login()">Login</button>
    <div class="horizontal-separator">
      <span class="horizontal-line"></span>
      <span class="position-or">OR</span>
    </div>
    <a class="sign-up-link" (click)="navigateToSignUp()">Sign up</a>
  </form>
</div>
