.input-wrapper {
  margin-bottom: 1rem;
  border: 1px solid var(--clr-gray-200);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;

  > input:-webkit-autofill,
  > input {
    -webkit-box-shadow: 0 0 0 30px white inset;
    border-radius: .5rem;
    font-size: var(--fs-300);
    width: calc(100% - 18px);
  }

  img {
    height: 18px;
    cursor: pointer;
  }

  .muted{
    opacity: .5;
  }
}
