<div class="form-wrapper">
  <form class="form">
    <div>edit mode switch</div>

    <div class="form-row">
      <label>Title</label>
      <input type="text">
    </div>

    <div class="form-row">
    <app-generic-input [fc]="formControl" [options]="{type:'email', placeholder:'email'}"></app-generic-input>
    </div>
    <div class="form-row">
<!--      EDUCATION component -->

    </div>
    <div class="form-row">
<!--      TECHNOLOGIES component -->

    </div>

    <div class="form-row">
      <label>Summary</label>
      <textarea></textarea>
    </div>

    <div class="form-row">
<!--      upload cv component -->
    </div>

    <button type="submit" (click)="submitForm()">Save</button>
  </form>
</div>
