<div class="form-wrapper">
  <span class="sign-up-header">Sign Up</span>
  <form class="sign-up-form">
    <label>Mail</label>
    <div class="input-wrapper">
      <input type="email"
             [formControl]="emailFormControl"
             placeholder="Mail">
    </div>

    <label>Password</label>
    <div class="input-wrapper">
      <input [type]="passwordIsVisible ? 'text' : 'password'"
             placeholder="Password"
             [formControl]="passwordFormControl">
      <img alt="show/hide password"
           [class.muted]="!passwordIsVisible"
           src="assets/images/icons/closed-eye-icon.png"
           (click)="togglePasswordVisibility()">
    </div>

    <label>I am:</label>
    <div class="input-wrapper">
      <select [formControl]="roleFormControl" style="width: calc(100% - 18px); font-size: var(--fs-300)">
        <option value="Recruiter">Recruiting</option>
        <option value="Applier">Applying</option>
      </select>
      <img  src="assets/images/icons/arrow-down-icon.png" alt="">
    </div>

    <button type="button" (click)="signUp()" class="btn">Sign Up</button>
    <a class="login-link" (click)="navigateToLogin()">Back to Login</a>
  </form>
</div>
