<div class="form-wrapper">
  <span class="sign-up-header">Sign Up</span>
  <form class="sign-up-form">
    <label>Mail</label>
    <app-generic-input [fc]="emailFormControl"
                       [options]="{type:'email', placeholder:'Mail'}">
    </app-generic-input>

    <label>Password</label>
    <app-generic-input [fc]="passwordFormControl"
                       [options]="{type:'password', placeholder:'password'}">
    </app-generic-input>

    <label>I am:</label>
    <app-generic-input [fc]="roleFormControl"
                       [options]="{type:'select', selectOptions: roleOptions }">
    </app-generic-input>

    <button type="button" [class.shake-btn]="(authError$ | async)"
            (click)="signUp()" class="btn">Sign Up
    </button>
    <a class="login-link" (click)="navigateToLogin()">Back to Login</a>
  </form>
</div>
