<div class="background">
  <div class="container">
    <div class="hero">
      <span class="bubble bubble-size-xl bubble-accent-peach position-t-r"></span>
      <span class="bubble bubble-size-m bubble-accent-peach position-b-rr"></span>
      <span class="bubble bubble-size-xl bubble-accent-green position-m-l"></span>
      <span class="bubble bubble-size-xs bubble-accent-green position-b-r"></span>
      <span class="bubble bubble-size-xl bubble-accent-blue position-t-rr"></span>

      <div class="logo-wrapper">
        <img class="cvinder-logo" src="assets/images/icons/cvinder-icon.png" alt="">
        <span class="cvinder-title">CVinder</span>
      </div>

    </div>
    <div class="login-signup-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
