.background {
  position: fixed;
  display: flex;
  inset: 0;
  background-color: var(--clr-purple-200);
  overflow: auto;

  .container {
    width: clamp(600px, 80%, 1000px);
    margin: auto;
    background-color: white;
    box-shadow: 0 0 11px 8px rgb(0 0 0 / 20%);
    height: fit-content;
    border: 2px solid var(--clr-gray-200);
    border-radius: 1rem;
    display: flex;
  }

  .hero {
    position: relative;
    overflow: hidden;
    width: 50%;
    background-color: #e6e7f0;
    display: flex;
    align-items: center;
    border-radius: .6rem 0 0 .6rem;

    .bubble {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
    }

    .bubble-accent-blue {
      // background-color: #1c2793;
      background: linear-gradient(225deg, #1b2694, #00043c);
    }

    .bubble-accent-peach {
      // background-color: var(--clr-peach-200);
      background: linear-gradient(225deg, #fcc3ca, #ffa4ad);
    }

    .bubble-accent-green {
      // background-color: var(--clr-green-200);
      background: linear-gradient(225deg, #0ea2b3, #085a6a);
    }

    .position-b-r {
      bottom: 1rem;
      right: 1rem;
    }

    .position-b-rr {
      bottom: -40px;
      right: -20px;
      z-index: 2;
    }

    .position-m-l {
      transform: translateX(-50%);
      bottom: 4rem;
    }

    .position-t-r {
      right: 6rem;
      top: 0;
      z-index: 2;
      transform: translateY(-45%);
    }

    .position-t-rr {
      right: 0;
      top: 0;
      transform: translate(15%, -13%);
    }

    .bubble-size-m {
      width: 5rem;
      height: 5rem;
    }

    .bubble-size-xs {
      width: 3rem;
      height: 3rem;
    }

    .bubble-size-xl {
      width: 10rem;
      height: 10rem;
    }

    .logo-wrapper {
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 5rem 3rem;

      .cvinder-logo {
      }

      .cvinder-title {
        font-size: var(--fs-800);
      }
    }
  }

  .login-signup-wrapper {
    width: 50%;
    padding-block: 3rem;
  }
}
