.resume-container {
  padding: 1rem;
  display: flex;
  max-width: 1200px; // todo decide on max width
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto 0;

  .header {
    position: relative;
    font-size: var(--fs-600);
  }

  .text-area {
    padding-left: .5rem;
    padding-top: .2rem;
    margin-bottom: 10.5px;
    border-radius: .5rem;
    resize: vertical;
    width: 100%;
    font-size: var(--fs-200);
    border: 1px solid var(--clr-gray-200);
  }

  .text-area-title{
    font-size: var(--fs-400);
    margin-bottom: .5rem;
  }
}
